.myButton {
  position: relative;
  display: inline-block;
  font-family: 'Montserrat';
  margin: 16px 0 0 0;
  font-size: 20px;
  line-height: 24px;
  padding: 6px 29px 6px 19px;
  background-color: transparent;
  background-image: url("../../../images/icons/button-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  &.black {
    width: 100%;
    font-family: 'NeueHaasUnica';
    color: #fff;
    background-image: url("../../../images/icons/button-bg-b.svg");
  }
}