.checkout {
  margin: 160px 0;

  &__content {
    display: flex;

    @media(max-width: 1023px) {
      flex-direction: column;
      .checkout {
        .navbar {
          width: 100%;
          flex: initial;
        }

        &__content {
          &_form {
            flex: initial;
            width: 100%;
          }
        }
      }
    }

    h3 {
      margin: 0 0 20px 0;
    }

    &_form {
      flex: 1 1;
      margin: 0 118px 0 0;
    }

    .navbar {
      flex: 0 1 375px;

      &__container {
        background-color: #fff;
        padding: 28px 15px;
        border: 1px solid #9E9E9E;
        border-radius: 9px;
      }
    }
  }
}