body {
  background-color: $bg;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;


  &.active {
    position: relative;
    width: 100vw;
    height: 100vh;

    &:before {
      content: '';
      pointer-events: none;
      z-index: 3;
      position: absolute;
      background-color: #000;
      opacity: 0.3;
      width: 100vw;
      height: 100vh;
    }
  }
}

.inputWrapper {
  display: flex;
  justify-content: space-between;

  > p {
    flex: 0 1 45%;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    margin: 0 0 0 38px;
  }

  .myInput {
    flex: 0 1 45%;
  }

  @media (max-width: 1023px) {
    margin: 0 0 50px 0;
    flex-wrap: wrap;
    > p {
      flex: initial;
      margin: 0;
    }
    .myInput {
      width: 100%;
      flex: initial;
      margin: 0;
    }
  }
}

.radioWrapper {
  margin: 55px 0;
}

.container {
  max-width: 1214px;
  padding: 0 25px;
  margin: 0 auto;
  box-sizing: content-box;
}

.root {
  padding: 92px 0 0 0;
  @media (max-width: 767px) {
    padding: 82px 0 0 0;
  }
}

h1 {
  font-family: "CooperBt";
  font-size: 60px;
  line-height: 72px;
  font-weight: 400;
  @media (max-width: 1023px) {
    font-size: 48px;
    line-height: 50px;
  }
  @media (max-width: 767px) {
    font-size: 35px;
    line-height: 42px;
  }
}

h2 {
  font-family: 'CooperBt';
  font-weight: 300;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 35px;
  }
}

h3 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 500;
}








