.header {
  position: fixed;
  background-color: #fff;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;

  &.checkout {
    background-color: initial;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    &_logo {
      height: 52px;
      width: 181px;

      a {
        display: block;
      }
    }
  }
}
