.header {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100vw;

  &__content {
    display: flex;
    justify-content: space-between;
    &_logo{
      a{
        color: green;
      }
    }
  }
}
